<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t_log_partner_response">
	<resultMap type="com.xiaogch.maven.mybatis.entity.UserBean" id="userBeanResult">
		<result column="phone_id" property="phoneId"/>
		<result column="province_code" property="provinceCode"/>
	</resultMap>
	
	<select id="selectUserList" resultMap="userBeanResult" parameterType="java.util.Map">
		select a.phone_id , left(a.region_code , 4) as province_code
			from t_log_partner_response a 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="beginTime != null">
				a.order_time > ${beginTime}
			</if>
			<if test="endTime != null">
				and a.order_time <![CDATA[ < ]]> ${endTime}
			</if>
		</trim>
		group by a.phone_id , left(a.region_code , 4)
	</select>
</mapper>