<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t_wx_qrcode_info">
	<resultMap type="com.xiaogch.maven.mybatis.entity.WeiXinQrcodeInfoBean" id="weiXinQrcodeInfoBeanResult">
		<result column="scene_id" property="sceneId"/>
		<result column="ticket" property="ticket"/>
		<result column="url" property="url"/>
		<result column="used_status" property="usedStatus"/>
		<result column="create_time" property="createTime"/>
		<result column="expire_seconds" property="expireSeconds"/>
	</resultMap>
	
	<update id="updateStatus" parameterType="com.xiaogch.maven.mybatis.entity.WeiXinQrcodeInfoBean">
		update t_wx_qrcode_info set used_status = ${usedStatus} where scene_id = ${sceneId}
	</update>
	
	<update id="updateUrl" parameterType="com.xiaogch.maven.mybatis.entity.WeiXinQrcodeInfoBean">
		update t_wx_qrcode_info set url = ${url} where scene_id = ${sceneId}
	</update>
	
	<insert id="insert" parameterType="com.xiaogch.maven.mybatis.entity.WeiXinQrcodeInfoBean">
		insert into 
			t_wx_qrcode_info(scene_id , ticket ,  url , used_status ,create_time , expire_seconds) 
		values(${sceneId} , ${ticket} , ${url} , ${usedStatus} , now() , ${expireSeconds})
	</insert>
</mapper>