<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaogch.maven.springmvc.entity.SystemPrivilegeInfoBean">

    <resultMap id="systemPrivilegeInfoBean" type="com.xiaogch.maven.system.entity.PrivilegeInfoBean">
        <result property="privilegeId" column="privilege_id"/>
        <result property="privilegeName" column="privilege_name"/>
        <result property="privilegeType" column="privilege_type"/>
        <result property="parentPrivilegeId" column="parent_privilege_id"/>
        <result property="privilegeEntity" column="privilege_entity"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="updateSetCondition">
        <if test="privilegeName != null" >
            , privilege_name = #{privilegeName}
        </if>
        <if test="privilegeType != null" >
            , privilege_type = #{privilegeType}
        </if>
        <if test="parentPrivilegeId != null" >
            , parent_privilege_id = #{parentPrivilegeId}
        </if>
        <if test="privilegeEntity != null" >
            , privilege_entity = #{privilegeEntity}
        </if>
        <if test="status != null" >
            , status = #{status}
        </if>
    </sql>

    <sql id="selectWhereCondition">
        <if test="privilegeName != null" >
            and privilege_name like concat('%' , #{privilegeName} , '%')
        </if>
        <if test="privilegeType != null" >
            and privilege_type = #{privilegeType}
        </if>
        <if test="parentPrivilegeId != null" >
            and parent_privilege_id = #{parentPrivilegeId}
        </if>
        <if test="privilegeEntity != null" >
            and privilege_entity = #{privilegeEntity}
        </if>
        <if test="status != null" >
            and status = #{status}
        </if>
        <if test="createTimeBegin != null">
            and create_time >= #{createTimeBegin}
        </if>
        <if test="createTimeEnd != null">
            and create_time <![CDATA[ <= ]]> #{createTimeBegin}
        </if>
    </sql>

    <insert id="insert" parameterType="com.xiaogch.maven.system.entity.PrivilegeInfoBean" useGeneratedKeys="true" keyProperty="privilegeId">
        insert into t_sys_privilege_info(privilege_name , privilege_type , privilege_entity , parent_privilege_id , status , create_time)
        values (#{privilegeName} , #{privilegeType} , #{privilegeEntity} , #{parentPrivilegeId} , 1, now());
    </insert>

    <update id="update" parameterType="com.xiaogch.maven.system.entity.PrivilegeInfoBean">
        update t_sys_privilege_info
        SET
        privilege_id = #{privilegeId}
        <include refid="updateSetCondition"/>
        where privilege_id = #{privilegeId}
    </update>

    <select id="selectById" parameterType="integer" resultMap="systemPrivilegeInfoBean">
        select privilege_id , privilege_name , privilege_type , privilege_entity , parent_privilege_id , status , create_time
        from t_sys_privilege_info
        where user_id = #{userId};
    </select>

    <select id="selectList" resultMap="systemPrivilegeInfoBean" parameterType="map">
        select privilege_id , privilege_name , privilege_type , privilege_entity , parent_privilege_id , status , create_time
        from t_sys_privilege_info
        where 1 = 1
        <include refid="selectWhereCondition"/>
    </select>

    <select id="selectList_count" resultType="int" parameterType="map">
        select COUNT(1) from from t_sys_privilege_info
        where 1 = 1
        <include refid="selectWhereCondition"/>
    </select>


</mapper>