<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.roleInfoBean">

    <resultMap id="sysRoleInfoBean" type="com.xiaogch.maven.system.entity.RoleInfoBean">
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleRemark" column="role_remark"/>
    </resultMap>


    <insert id="insert" parameterType="com.xiaogch.maven.system.entity.RoleInfoBean" useGeneratedKeys="true" keyProperty="roleId">
      insert into t_sys_role_info(role_name , role_remark)
        values (#{roleName} , #{roleRemark});
    </insert>

    <select id="selectList" resultMap="sysRoleInfoBean">
        select * from t_sys_role_info;
    </select>

    <select id="selectList_count" resultType="int">
        select COUNT(1) from t_sys_role_info;
    </select>
</mapper>